body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
}

.input-container {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}

.signup-link {
  color: #666;
}
